<div class="d-flex flex-column">
  <h2><div class="p3 text-secondary">Welcome Jakob!</div></h2>
  <img src="/img/about.jpg" alt="" class="rounded img-fluid" />
  <div class="border border-dark rounded p-3 mt-1">
    <h4>About Me</h4>
    <h4>Bio:</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, illo!
      Nulla tenetur nesciunt quos deserunt esse tempore assumenda eaque ratione,
      perferendis facere nisi fuga itaque illum. Quibusdam ab atque
      perspiciatis.
    </p>
    <h4>Name:</h4>
    <p>Jakob Douglas</p>
    <h4>email:</h4>
    <p>emal&#64;test</p>
  </div>
</div>
